@model Tide.Dashboard.ViewsComponents.Plot.PlotViewModel
 
@if (Model.AddCard)
{
    <div class="card shadow-sm" >
        <div class="card-header">
            <h3 class="card-title">@Model.Name</h3>
        </div>
        <div class="card-body">
            <div id="@Model.Id" style="width: 100%; height: @(Model.Height)px;"></div>
        </div>   
    </div>
}
else
{
    <div id="@Model.Id" style="width: 100%; height: @(Model.Height)px;"></div>
}
